<nav class="navbar navbar-light" style="background-color: #d9d0de;">
    <a class="navbar-brand" href="/" style="align-items: flex-start;">
        
        <div class="container">
            <span class="d-inline btn d-flex justify-content-start">
                <img src="/img/trackhonsool-cat.gif">
                <h3>Question & Answer Forum</h3> 
        </div>
    </a>
</nav>
